* {
    color:white;
    background-color: #1B1B25;
    font-family: "Josefin Sans", sans-serif;
}

.first-section {
    text-align: center;
}


.second-section {
    padding: 0% 50px;
    text-align: center;
    margin-bottom: 50px;
}
/*
.third-section, .forth-section, .fifth-section, .sixth-section {
    padding: 0% 50px;
    text-align: center;
    margin-bottom: 10px;
    list-style-position: inside;
} 
*/

.headings-two {
    display: inline-block;
    position: relative;
    color:#DB4D57; 
    padding-left: 50px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: white;
}

.profile-img {
    border: 3px solid #DB4D57;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.email {
    border-right: 1.5px solid #DB4D57; 
    padding-right: 5px;
}


.strong-red {
    color:#DB4D57;
}

.first-separator {
    width: 40%;
    margin-bottom: 20px;
}

.second-separator {
    width: 70%;
    margin-top: -20px;
    margin-bottom: 40px;
}

.italic-text {
    font-style: italic;
    color: #DB4D57;
}

.strong-italic-text {
    font-style: italic;
    font-weight: bold;
    color: #DB4D57;
}

.padding-left {
    padding-left: 50px;
}

.fa-solid {
    text-decoration: underline;
    text-decoration-color: white;
    color: #DB4D57;
}